
/*ssi1 is configured in slave mode*/
&ssi1 {       
        fsl,mode = "i2s-slave";
        status = "okay";
};


	btsco_codec: btsco_codec@0 {
		compatible= "btsco-codec";
		status = "okay";
	};
  
  
	sound-btsco {
	
		compatible = "fsl,imx6q-audio-btsco",
			     "fsl,imx-audio-btsco";
		model = "btsco-codec";	
		ssi-controller = <&ssi1>;
		btsco-controller = <&btsco_codec>;
    
		mux-int-port = <1>;   /*Change according to your requirement*/
		mux-ext-port = <6>;   /*Change according to your requirement*/

	};
  
    
    
&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;


imx6qdl-sabreauto {
       pinctrl_audmux: audmux {
       
       fsl,pins = <
        MX6QDL_PAD_DI0_PIN2__AUD6_TXD     0x130B0     /**Please choose your PAD Settings*/
				MX6QDL_PAD_DI0_PIN3__AUD6_TXFS    0x130B0  
				MX6QDL_PAD_DI0_PIN4__AUD6_RXD     0x130B0  
				MX6QDL_PAD_DI0_PIN15__AUD6_TXC	  0x130B0  
        >;
            };
